* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.frame1Font {
    font-weight: 600;
    font-size: 15px;
    line-height: 22.4px;
    color: #111111;
    margin-top: 5px;
    margin-right: 10px;
}

.navbar-brand:hover{
    background-color: transparent;
}

.frame1Font:hover{
    background-color: transparent;
}

.joinNowButton {
    border-radius: 100px;
    border: 2px solid #1b90dd;
    padding: 10px, 20px, 10px, 20px;
    background-color: white;
}

.text {
    font-weight: 400;
    margin-top: 5px;
    max-width: 63ch;
    font-size: 12px;
    line-height: 20px;
    color: #111111;
}

.frame3TextDiv{
    margin-top: 18px;
}

.frame3AnchorDiv{
    margin-top: 48px;
}

section{
    margin-top: 70px;
}

.heading1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 38px;
    margin-top: 90px;
    line-height: 39.6px;
    letter-spacing: -2px;
    color: #0e2f53;
}

.heading1Box {
    background-color: #0e2f53;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px;
    max-width: 88%;
    width: auto;
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 39.6px;
    letter-spacing: -2px;
    font-size: 36px;
}

.frame4ButtonBox {
    width: 201px;
    height: 51px;
    border: 2px solid #1b90dd;
    border-radius: 100px;
    background-color: white;
    margin-top: 55px;
    justify-content: center;
    align-items: center;
}

.buttonText {
    color: #1b90dd;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    text-decoration: none;
}

a:hover{
    color: white;
    background-color: #1b90dd;
}

.image1 {
    max-width: 97%;
    border-radius: 12px;
    margin-top: 20px;
}

.textBox {
    border: 1px solid white;
    padding-right: 48px;
}

h3 {
    font-weight: 600;
    font-size: 27px;
    line-height: 48px;
}

.heading4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 48px;
}

.button3Frame {
    width: 259px;
    display: flex;
    border: 2px solid #1b90dd;
    border-radius: 100px;
    padding: 20px, 40px;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.exploreJobs {
    color: #1b90dd;
    font-weight: 500;
    size: 10px;
    line-height: 18px;
    text-align: center;
}

.exploreJobImg{
    margin-top: 60px;
}

.png {
    width: auto;
    height: 20px;
    margin-right: 10px;
}

.frame51 {
    width: 388px;
    height: 91px;
    display: flex;
    align-self: top center;
    border: 1px solid black;
}

.frame14 {
    width: 188px;
    height: 40px;
    display: flex;
    padding: 10px 24px;
    border: 1px solid black;
}

.arrow {
    font-size: 34px;
    margin-bottom: 10px;
}

.latestJobOpenings {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 48px;
    letter-spacing: -2px;
}

ul{
    list-style: none;
    display: inline-flex;
    text-align: center;
}

.frame42{
    margin-top: 50px;
    text-align: center;
    width: 1061px;
}

.frame42Text {
    color: #111111;
    font-weight: 400;
    size: 17px;
    text-decoration: none;
    line-height: 27.2px;
}

.frame42Border {
    border: 1px dashed black;
    padding: 10px ;
    height: 44px;
    margin-right: 10px;
    border-radius: 2px;
}

.deadline{
    color: red;
}

.rectangle6{
    position: relative;
    padding: 20px;
}

.rectangle22{
    margin-top: 64px;
    text-align: center;
    margin-bottom: 50px;
}

.rectangle22Text{
    font-weight: 400;
    color: #111111CC;
    line-height: 17.8px;
    font-size: 14px;
    margin-top: 30px;
}

.deadlineText{
    color: red;
    font-style: italic;
}

.group65Text{
    font-size: 22px;
    font-weight: 600;
    line-height: 24.2px;
    color: black;
}

h5{
    font-weight: 600;
    font-size: 22px;
    line-height: 24.2px;
    letter-spacing: -2%;
    font-family: 'Nunito Sans', sans-serif;
}
.newButton{
    border: 1px solid black;
    border-style: dotted;
    padding: 10px 24px 10px 24px;
    border-radius: 2px;
}
.tab{
    overflow: hidden;
    background-color: white;
    justify-content: space-between;
}
.tab button{
    border: 1px solid black;
    border-radius: 2px;
    border-style: dashed;
    padding: 16px 24px 16px 24px;

}
.tab button.active{
    color: #1b90dd;
}
.tab button.hover{
    color:#1b90dd;
}
.recruitmentData{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 50px;
    line-height: 40.6px;
    color: #1b90dd;
    font-weight: 500;
}
.Frame14{
    border-radius: 100px;
    padding: 12px 20px 12px 20px;
    color: #ffffff;
    background-color: #ffffff12;
    width: fit-content;
}
.accordionText{
    font-weight: 450px;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255,255,255,60%);
}
.accordion-item{
    background-color: #0e2f53;
}
.accordion-button{
    background-color: #0e2f53;
    box-shadow: none;
}
.accordionHeading{
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: white;
    letter-spacing: -2%;
}
.accordion-button:not(.collapsed){
    background-color: #0e2f53;
}
.accordion-button::after{
    background-image: url("../img/plus.png");
    background-size: 10px;
}
.accordion-button:not(.collapsed)::after{
    background-image: url("../img/minus.png");
    margin-top: -17px;
}

.fAccordion-button{
    box-shadow: none;
}

.fAccordion-button.accordion-button:not(.collapsed){
    box-shadow: none;
}

.fAccordion-button::after{
    background-image: url("../img/Vector\(7\).png") ;
    background-size: 10px;
    margin-top: 10px;
}

.fAccordion-button:not(.collapsed)::after{
    background-image: url("../img/Vector\(7\).png") ;
}

.accordion{
    margin-top: 40px;
}
.imageHeading{
    color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 26.2px;
}
.imageText{
    font-weight: 400;
    color: white;
    font-size: 13px;
    line-height: 24.8px;
}
.backgroundImage{
    height: 400px;
    max-width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}
.corousalImages{
    width: fit-content;
}
.frame73{
    background-color: #0e2f53;
    border-radius: 12px;
    padding: 23px 30px 23px 30px;
    left: 200px;
    top: 5687px;
}
.frame73Heading{
    font-size: 23px;
    font-weight: 600;
    line-height: 30.6px;
    color: white;
}
.frame73Text{
    font-weight: 400;
    font-size: 12px;
    line-height: 23.8px;
    color: white;
}
.owl-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-carousel .item{
    text-align: center;
}
.owl-carousel .owl-item img{
    max-width: 100%;
    display: inline;
}
.text-overlay{
    position: absolute;
    top: 65%;
    left: 5%;
    width: 588px;
    max-width: 75%;
}
.image-container{
    display: block;
    position: relative;
    max-width: 100%;
}
.frame15{
    padding: 10px 24px 10px 24px;
    background-color: white;
    border-radius: 100px;
}
.frame15Text{
    font-weight: 500;
    font-size: 15px;
    color: #1b90dd;
    line-height: 18px;
    text-decoration: none;
}
.frame144{
    width: 50ch;
    margin-left: 19px;
    position: relative;
}
.readMore{
    position: absolute;
    border: 1px solid #1b90dd;
    border-radius: 100px;
    bottom: -60px;
    left: 0px;
    padding: 10px 16px 10px 16px;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}
.frame140{
    margin-top: 75px;
    margin-left: 19px;
    background-color: #f5f5f5;
    display: flex;
    width: 45ch;
}
.frame4{
    border: 2px solid #1b90dd;
    border-radius: 100px;
    padding: 5px 25px 10px 25px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    color: #1b90dd;
    position: absolute;
    right: 0px;
    bottom: 0px;
    transition: .5s;
}
.rectangle37{
    background-color: #0e2f53;
    height: 400px;
    margin-top: 65px;
    padding-top: 20px;
}
.jobs{
    font-weight: 500;
    font-size: 15px;
    color: white;
}
.frame53Heading{
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
}
.frame53Text{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: white;
    opacity: 70%;
}
.rectangle18{
    height: 251px;
    background-color: white;
    padding-top: 77px;
    text-align: center;
    box-shadow: 0px 4px 100px 0px #0000001A;
}
.rectangle18Heading{
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
}
.rectangle18Text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20.6px;
    color: #00000080;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 12px;
}
.ellipse{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 84px;
    margin-top: -47%;
}
.ellipsePng{
    width: 40px;
    height: 40px;
}
.frame22{
    font-size: 14px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: center;
    color: #1b90dd;
    text-decoration: none;
    border: 2px solid #1b90dd;
    border-radius: 100px;
    padding: 10px 40px 10px 40px;
    transition: .5s;
}
.svg{
    width: 6px;
    height: 9.82px;
    margin-bottom: 4px;
}
.rectangle37TextContainer{
    text-align: center;
    margin-left: 285px;
    margin-top: 65px;
}
.rectangle37Text{
    font-weight: 400;
    font-size: 14px;
    line-height: 28.8px;
}
.frame15Heading{
    font-weight: 600;
    size: 40px;
    line-height: 56px;
    color: black;
}
.coloredSpan{
    color: #1b90dd;
}
.frame66{
    margin-top: 20px;
}
.frame66Heading{
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
}
.frame66Text{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}
footer{
    background-color: #0e2f53;
    position: relative;
    padding-top: 40px;
    margin-top: 70px;
}
.frame107{
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}
.mailSendLine{
    width: 48px;
    height: 48px;
}
.formHeading{
    font-weight: 800;
    font-size: 26px;
    line-height: 44.8px;
    color: #ffffff;
}
.frame101{
    margin-top: 14px;
}
input.inputField{
    border: 1px;
    border-radius: 10px;
    background-color: #ffffff;
    opacity: 12%;
    padding: 24px;
    width: 484px;
    height: 60px;
}
.nameField{
    background-image: url(../img/person.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
    background-color: #ffffff1f;
    height: 60px;
    max-width: 100%;
    width: 486px;
    border-radius: 10px;
    padding: 10px 20px 10px 50px;
}
.emailField{
    background-image: url(../img/mail-line.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
    background-color: #ffffff1f;
    height: 60px;
    width: 486px;
    max-width: 100%;
    border-radius: 10px;
    padding: 10px 20px 10px 50px;
    margin-top: 10px;
}
.placeholder{
    color: white;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
}
.nameField::placeholder{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.formText{
    color: white;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
}
.email{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.emailField::placeholder{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.telephoneField{
    background-image: url(../img/phone-line.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
    background-color: #ffffff1f;
    height: 60px;
    max-width: 100%;
    width: 486px;
    border-radius: 10px;
    padding: 10px 20px 10px 50px;
    margin-top: 10px;
}
.tel{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.telephoneField::placeholder{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.messageField{
    background-image: url(../img/chat-2-line.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
    background-color: #ffffff1f;
    height: 180px;
    max-width: 100%;
    width: 486px;
    border-radius: 10px;
    padding: 20px 20px 20px 50px;
    margin-top: 10px;
}
.messageField::placeholder{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.formSubmit{
    width: 486px;
    max-width: 100%;
    background-color: #1b90dd;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    padding: 20px 30px 15px 30px;
    line-height: 25.6px;
    transition: .5s;
}

.formSubmit:hover{
    background-color: white;
    color: #0e2f53;
}

.formSubmit:active{
    background-color: white;
    color: #0e2f53;
}

.Frame14Text{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: white;
}
.frame15Heading{
    font-weight: 800;
    font-size: 26px;
    line-height: 44.8px;
    color: white;
}
.frame96AccordionHeading{
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
}
.dropdownDiv{
    text-align: center;
    padding-top: 20px;
}
.dropdownButton{
    background-color: transparent;
    font-size: 16px;
    font-weight: 800;
    line-height: 25.6px;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
}
.frame51TextDiv{
    margin-top: 10px;
}
.frame145{
    justify-content: space-between;
    background-color: #1b90dd;
    background-image: url(../img/Group27.png);
    margin-top: 30px;
    border-radius: 12px;
    padding-top: 72px;
    padding-left: 72px;
    padding-bottom: 72px;
}
.frame108{
    font-weight: 600;
    font-size: 27px ;
    line-height: 34.6px;
    color: white;
}
.frame109Text{
    font-weight: 400;
    font-size: 14px;
    line-height: 28.8px;
    color: #ffffff;
    opacity: 70%;
    margin-top: -35px;
}
.frame109{
    position: relative;
}
.frame109Anchor{
    margin-top: 20px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 100px;
    padding: 3px 30px 6px 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    transition: .5s;
}

.frame109Anchor:hover{
    background-color: #0e2f53;
    color: white;
    border-color: #0e2f53;
}

.footerBgImg{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.frame114{
    background-color: transparent;
    margin-top: 50px;
    text-align: center;
}
.frame112{
    background-color: transparent;
    text-align: center;
    max-width: 100%;
    height: 109px;
}
.frame112Img{
    margin-bottom: 10px;
}
.frame112TextDiv{
    text-align: center;
    width: 65ch;
    margin-left: 235px;

}
.frame112Text{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    line-height: 24px;
}
.frame111{
    margin-top: 30px;
    background-color: transparent;
    text-align: center;
}
.frame111Anchor{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFFB2;
    line-height: 20.6px;
    text-decoration: none;
    margin-right: 24px;
}
.anchorBorder{
    border-right: 2px solid #ffffff12;
    gap: 24px;
}
a:active{
    color: white;
}
.frame113{
    border-top: 1px solid #ffffff12;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 30px;
}
.anchorList{
    list-style-type: none;
    display: inline-flex;
    text-align: left;
    gap: 24px;
}
.frame113Text{
    font-size: 15px;
    color: #FFFFFFBF;
    font-weight: 400;
    line-height: 24px;
}
.frame113Bold{
    font-weight: 700;
    line-height: 24px;
    font-size: 15px;
    color: white;
}
.joinNowAnchor{
    border: 2px solid #1b90dd;
    background-color: transparent;
    padding: 3px 20px 5px 20px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    transition: .5s;
}

.btn:focus{
    box-shadow: none;
}

.joinNowAnchor2{
    border: 2px solid #1b90dd;
    background-color: transparent;
    padding: 5px 20px 5px 20px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 22.4px;
    transition: .5s;
}

a:active{
    color: white;
    background-color: #1b90dd;
}

.frame3AMargin{
    margin-top: 50px;
}

.frame3{
    margin-top: 48px;
}
.navJoinNowAlign{
    display: flex;
    align-items: center;
}

.coloredSection{
    background-color: #0e2f53;
    margin-top: 70px;
    padding: 50px;
}

.placementDataDiv{
    padding: 40px 32px 40px 32px;
}

.placementText{
    font-weight: 400;
    font-size: 13px;
    line-height: 44.4px;
    color: #000000CC;
}

.carouselLogos{
    width: fit-content;
}
.frame22Special{
    border:none;
    padding: 0px;
    transition: .5s;
}

.frame22Special:active{
    color: #0e2f53;
    background-color: white;
}

.frame22Special:hover{
    color: #0e2f53;
    background-color: white;
    fill: #0e2f53;
}
.frame22Special svg{
    fill:#1B90DD;
    margin-top: -3px;
}

.frame22Special:hover svg{
    fill: #0e2f53;
}

.accordion-button:focus{
    box-shadow: none;
}

.accodionHeading{
    color: white; 
    font-size: 40px; 
    font-weight: 600; 
    line-height: 48px;
}

.whyChooseUs{
    color: white; 
    font-weight: 500; 
    font-size: 15px;
    line-height: 18px;
    margin-left: 6px;
}

.getInTouchForm{
    background: #FFFFFF1A;
    padding: 48px;
    border-radius: 12px;
    max-width: 80%;
}


#whiteText{
    color: white;
}

a.frame111Anchor:hover{
    color: white !important;
    background-color: transparent;
}

body{
    position: relative;
}

.specialSection{
    margin-top: 70px;
}

.bodyImage1{
    position: relative;
    width: 200px;
    height: 303px;
    top: 90px;
}

.numBox{
    border-radius: 8px;
    background: #FFFFFF0F;
    padding: 7px 10px 6px 10px;
    font-size: 11px;
    font-weight: 400;
    color: white;
    line-height: 19.2px;
    margin-left: -21px;
    margin-right: 21px;
}

.textContainer{
    font-weight: 400;
    font-size: 16px;
    color: #111111B2;
    text-align: center;
    line-height: 22.8px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -40px;
}

.overlaySection{
    margin-top: -100px;
}

.highLightText{
    font-weight: 700;
    color: white;
}

.formText{
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color:#FFFFFFBF;
}

input{
    border: none;
    box-shadow: none;
}

input:focus{
    box-shadow: none;
    border: none;
    outline: none;
}

textarea:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

textarea{
    border: none;
    box-shadow: none;
}

.accordion{
    margin-bottom: 40px;
}

.accordion-header:focus{
    box-shadow: none;
    border:none;
    outline: none;
}

.salesforce{
    max-width: 100%;
    width: 85.33px;
    height: 60px;
}

.hubspot{
    max-width: 100%;
    width: 169px;
    height: 50px;
}

.microsoft{
    max-width: 100%;
    width: 51px;
    height: 50px;
}

.wework{
    max-width: 100%;
    width: 200px;
    height: 44px;
}

.detuschBank{
    max-width: 100%;
    width: 72px;
    height: 60px;
}

.vodafone{
    max-width: 100%;
    width: 204px;
    height: 54px;
}

.americanBank{
    max-width: 100%;
    width: 60px;
    height: 60px;
}

p{
    margin-bottom: 0;
}

.frame174Heading{
    font-weight: 600;
    line-height: 64px;
    font-size: 40px;
    color: #111111;
}

.frame174{
    text-align: center;
}

.group70Image{
    position: absolute;
    bottom: -64px;
    right: 0px;
    max-width: 19%;
}
#frame73Col{
    justify-content: right;
    align-items: center;
    display: flex;
}

.accordion{
    border: none;
}

.accordion-item{
    border: none;
    border-bottom: 1px solid #E4E4E4;
}

#lastAccordionItem{
    border: none;
}

.accordion-header:hover{
    text-decoration: none;
}

.accordion-header.active{
    text-decoration: none;
    box-shadow: none;
}

.button.accodion-button:focus{
    outline: none;
    box-shadow: none;
}

.button#dropdownMenuButton1:active{
    color: #1b90dd;
    background-color: transparent;
    border-color: #1b90dd;
}

/* .btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: #1b90dd;
    border-color: #1b90dd;
    background-color: none;
} */
.btn-secondary.active{
    color: #1b90dd !important; 
    border-color: #1b90dd !important;
    background-color: transparent !important;
}

.btn-secondary:hover{
    color: #1b90dd;
    background-color: transparent;
    border-color: #1b90dd;
}

#footerAccordion.accordion-body{
    padding: 1rem 3.25rem;
}

.accordion-button:not(.collapsed){
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after{
    box-shadow: none;
}

.accordion-button:not(.collapsed)::before{
    box-shadow: none;
}

.owl-carousel .item{
    display: flex !important; 
    justify-content: center !important;
}
.tabs {
    border-radius: 5px 5px 5px 5px;
}

ul#tabs-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}


ul#tabs-nav a:hover{
    border-color: #1b90dd;
    color: #1b90dd;
}

#tabs-nav li.active a{
    border-color: #1b90dd;
    color: #1b90dd;
}
#tabs-nav li a {
    text-decoration: none;
    color: black;
}

.tab-content {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.tab-anchor {
    border: 1px dashed black;
    background-color: white;
    padding: 5px 10px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    border-radius: 2px;
    line-height: 27.2px;
    transition: .5s;
}

.tab-anchor:hover{
    border-color: #1b90dd;
    color: #1b90dd;
    background-color: transparent;
}

.rectangle6Text{
    padding: 60px 70px 10px 28px;
}

.frame169{
    margin-top: 50px;
    display: flex;
}

.dropdown-menu{
    background-color: transparent;
    border: none;
}

.dropdown-item{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.6px;
}

.dropdownButton:hover{
    color: #1b90dd;
    border-color: #1b90dd;
    box-shadow: none;
}

.dropdownButton:active{
    color: #1b90dd;
    border-color: #1b90dd;
    box-shadow: none;
}

.dropdown-item:hover{
    background-color: transparent;
    color: #1b90dd;
}

.dropdown-item:focus{
    box-shadow: none;
}

.frame136{
    position: relative;
}

.frame138Heading{
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
    margin-left: 19px;
}

.frame144Text{
    font-size: 15px;
    font-weight: 400;
    line-height: 28.8px;
    color: #111111B2;
}

.frame140Text{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #00000099;

}

.activeAnchor{
    color: white;
    font-weight: 600;
}

.group68Image{
    max-width: 100%;
}

/*Responsive Web Page CSS*/

@media screen and (max-width:475px) {
    .websiteIcon{
        margin-left: 52px;
    }
    .joinNowAnchor{
        margin-left: 134px;
        padding: 2px 10px 5px 10px;
        font-size: 14px;
        line-height: 18.4px;
    }
    .navbar-toggler-icon:active{
        box-shadow: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .frame1Font{
        font-size: 14px;
        line-height: 18.4px;
    }
    .heading1{
        font-size: 32px;
        margin-top: 15px;
        line-height: 39.6px;
        margin-left: 26px;
    }
    .heading1Box{
        font-size: 30px;
        max-width: 89%;
        margin-left: 26px;
    }
    .text{
        max-width: 49ch;
    }
    .frame3AnchorDiv{
        margin-top: 30px;
    }
    .image1{
        max-width: 100%;
        margin-top: 55px;
    }
    .group70Image{
        visibility: none;
        display: none;
    }
    .rectangle6{
        padding: 16px;
    }
    .rectangle6Text{
        padding: 0px;
    }
    .heading4{
        margin-top: 10px;
    }
    h3{
        font-size: 26px;
    }
    ul#tabs-nav{
        display: grid;
    }
    .whyChooseUs{
        font-size: 13px;
    }
    .accodionHeading{
        font-size: 32px;
    }
    .accordionHeading{
        font-size: 16px;
    }
    .accordionText{
        font-size: 12px;
        line-height: 20px;
    }
    .group68Image{
        margin-top: 40px;
    }
    .placementText{
        font-size: 7px;
        line-height: 16.4px;
    }
    .recruitmentData{
        font-size: 34px;
        line-height: 29.6px;
    }
    .frame174Heading{
        font-size: 24px;
    }
    .text-overlay{
        top: 62%;
    }
    .imageHeading{
        font-size: 21px;
        line-height: 24.2px;
    }
    .imageText{
        font-size: 11px;
        line-height: 21.8px;
    }
    .owl-carousel .owl-item img{
        max-width: 69%;
        max-height: 71%;

    }
    #coloredJoinNow{
        margin-left: 0px;
        margin-right: 257px;
        margin-top: 26px;
    }
    .frame138Heading{
        font-size: 32px;
        margin-left: 12px;
        line-height: 48px;

    }
    .frame144{
        width: 36ch;
        margin-left: 10px;
    }
    .frame144Text{
        font-size: 12px;
        line-height: 18.8px;
    }
    .readMore{
        padding: 5px 8px 5px 8px;
        font-size: 14px;
    }
    .frame136{
        margin-left: 50px;
    }
    .frame140{
        width: 34ch;
    }
    .frame140Text{
        font-size: 12px;
        line-height: 14px;
    }
    .textContainer{
        max-width: 42ch;
        font-size: 14px;
        line-height: 20.8px;
        margin-left: 45px;
    }
    .frame15{
        padding: 5px 12px 5px 12px;

    }
    .frame53Heading{
        font-size: 32px;
        line-height: 46px;
    }
    .frame53Text{
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 25px;
    }
    .frame169{
        display: block;
    }
    .frame4{
        font-size: 14px;
        line-height: 20.4px;
        position: unset;
        padding: 5px 13px 5px 13px;
    }   
    .ellipse{
        margin-top: -9%;
    }
    .png{
        height: 16px;
        margin-right: 5px;

    }
    .frame15Text{
        font-size: 14px;
        line-height: 18px;
    }
    .frame15Heading{
        font-size: 24px;
        line-height: 32.8px;
    }
    #frame66{
        display: block;
    }
    .frame66Text{
        line-height: 20px;
        font-size: 12px;
    }
    .getInTouchForm{
        max-width: 100%;
    }
    .mailSendLine{
        width: 34px;
        height: 34px;
    }
    .formHeading{
        font-size: 22px;
        line-height: 34.8px;
    }
    .formText{
        font-size: 12px;
        line-height: 20px;
    }
    .nameField{
        height: 40px;
        background-size: 15px;
        max-width: 94%;
    }
    .emailField{
        height: 40px;
        background-size: 15px;
        max-width: 94%;
    }
    .telephoneField{
        height: 40px;
        background-size: 15px;
        max-width: 94%;
    }
    .messageField{
        height: 120px;
        max-width: 94%;
    }
    .formSubmit{
        max-width: 94%;
        padding: 10px 30px 6px 30px;
    }
    #fAccordion{
        margin-top: 48px;

    }
    .Frame14Text{
        font-size: 12px;
        line-height: 16px;
    }
    .frame15Heading{
        font-size: 24px;
        line-height: 26.8px;
    }
    .frame108{
        font-size: 20px;
        line-height: 30.6px;
        margin-top: -30px;
    }
    .frame109Text{
        margin-right: 64px;
        margin-top: 15px;
        font-size: 13px;
        line-height: 24.8px;
    }
    .frame145{
        padding-bottom: 100px;
    }
    .frame109Anchor{
        font-size: 14px;
        line-height: 17.4px;
        padding: 3px 20px 6px 20px;
    }
    .frame112Img{
        width: 150px;
    }
    .frame112TextDiv{
        width: 40ch;
        margin-left: 34px;
    }
    .frame111{
        margin-top: 60px;
    }
    .frame111Anchor{
        font-size: 12px;
        line-height: 20.6px;
        margin-right: 16px;
    }
    .frame113{
        margin-top: 18px;
        padding-top: 15px;
        padding-bottom: 22px;
    }
    .frame113Text{
        font-size: 12px;
        line-height: 24px;
    }
    .frame113Bold{
        font-size: 14px;
        line-height: 22px;
    }
    #tabs-content{
        display: none;
    }
    #centerAlignText{
        margin-left: 26px;
    }
    #frame3JoinNow{
        margin-left: 26px
        ;
    }
    .exploreJobImg{
        margin-top: 0px;
    }
}