* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.frame1Font {
    font-weight: 600;
    size: 16px;
    line-height: 22.4px;
    color: #111111;
    margin-top: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

.joinNowButton {
    width: 209px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid #1b90dd;
    padding: 20px, 40px, 20px, 40px;
    margin: 10px;
    background-color: white;
}

.text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 450;
    margin-top: 5px;
    max-width: 65ch;
    font-size: 11px;
    height: 38px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 18px;
    color: #111111;
}

.frame3TextDiv{
    margin-top: 18px;
}

.frame3AnchorDiv{
    margin-top: 48px;
}

section{
    margin-top: 70px;
}

.heading1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 46px;
    margin-top: 90px;
    line-height: 61.6px;
    letter-spacing: -2px;
    color: #0e2f53;
}

.heading1Box {
    background-color: #0e2f53;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px;
    max-width: 84%;
    width: auto;
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 61.6px;
    letter-spacing: -2px;
    font-size: 44px;
}

.frame4ButtonBox {
    width: 201px;
    height: 51px;
    border: 2px solid #1b90dd;
    border-radius: 100px;
    background-color: white;
    margin-top: 55px;
    justify-content: center;
    align-items: center;
}

.buttonText {
    color: #1b90dd;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    text-decoration: none;
}

.image1 {
    max-width: 87%;
    border-radius: 12px;
    margin-top: 20px;
}

.textBox {
    border: 1px solid white;
    padding-right: 48px;
}

h3 {
    font-weight: 600;
    size: 40px;
    line-height: 48px;
}

.heading4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 48px;
}

.button3Frame {
    width: 259px;
    display: flex;
    height: 51px;
    border: 2px solid #1b90dd;
    border-radius: 100px;
    padding: 20px, 40px;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
}

.exploreJobs {
    color: #1b90dd;
    font-weight: 500;
    size: 10px;
    line-height: 18px;
    text-align: center;
}

.png {
    width: auto;
    height: 20px;
    margin-right: 10px;
}

.frame51 {
    width: 388px;
    height: 91px;
    display: flex;
    align-self: top center;
    border: 1px solid black;
}

.frame14 {
    width: 188px;
    height: 40px;
    display: flex;
    padding: 10px 24px;
    border: 1px solid black;
}

.arrow {
    font-size: 34px;
    margin-bottom: 10px;
}

.latestJobOpenings {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -2%;
}

ul{
    list-style: none;
    display: inline-flex;
    text-align: center;
}

.frame42{
    margin-top: 50px;
    text-align: center;
    width: 1061px;
}

.frame42Text {
    color: #111111;
    font-weight: 400;
    size: 17px;
    text-decoration: none;
    line-height: 27.2px;
}

.frame42Border {
    border: 1px dashed black;
    padding: 10px ;
    height: 44px;
    margin-right: 10px;
    border-radius: 2px;
}

.deadline{
    color: red;
}

.rectangle22{
    margin-top: 64px;
    text-align: center;
    margin-bottom: 50px;
}

.rectangle22Items{
    text-align: center;
}

.rectangle22Text{
    font-weight: 400;
    color: #111111CC;
    line-height: 17.8px;
    font-size: 14px;
    margin-top: 30px;
}

.deadlineText{
    color: red;
    font-style: italic;
}

.group65Text{
    font-size: 22px;
    font-weight: 600;
    line-height: 24.2px;
    color: black;
}

h5{
    font-weight: 600;
    font-size: 22px;
    line-height: 24.2px;
    letter-spacing: -2%;
    font-family: 'Nunito Sans', sans-serif;
}
.newButton{
    border: 1px solid black;
    border-style: dotted;
    padding: 10px 24px 10px 24px;
    border-radius: 2px;
}
.tab{
    overflow: hidden;
    background-color: white;
    justify-content: space-between;
}
.tab button{
    border: 1px solid black;
    border-radius: 2px;
    border-style: dashed;
    padding: 16px 24px 16px 24px;

}
.tab button.active{
    color: #1b90dd;
}
.tab button.hover{
    color:#1b90dd;
}
.recruitmentData{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 50px;
    line-height: 40.6px;
    color: #1b90dd;
    font-weight: 500;
}
.Frame14{
    border-radius: 100px;
    padding: 12px 20px 12px 20px;
    color: #ffffff;
    background-color: #ffffff12;
    width: fit-content;
}
.accordionText{
    font-weight: 450px;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255,255,255,60%);
}
.accordion-item{
    background-color: #0e2f53;
}
.accordion-button{
    background-color: #0e2f53;
}
.accordionHeading{
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    color: white;
    letter-spacing: -2%;
}
.accordion-button:not(.collapsed){
    background-color: #0e2f53;
}
.accordion-button::after{
    background-image: url("../img/plus.png");
}
.accordion-button:not(.collapsed)::after{
    background-image: url("../img/minus.png");
}

.fAccordion-button::after{
    background-image: url("../img/Vector\(7\).png") ;
}

.fAccordion-button:not(.collapsed)::after{
    background-image: url("../img/Vector\(7\).png") ;
}

.accordion{
    margin-top: 40px;
}
.imageHeading{
    color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 26.2px;
}
.imageText{
    font-weight: 400;
    color: white;
    font-size: 13px;
    line-height: 24.8px;
}
.backgroundImage{
    height: 400px;
    max-width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}
.corousalImages{
    width: fit-content;
}
.frame73{
    background-color: #0e2f53;
    border-radius: 12px;
    padding: 46px 60px 46px 60px;
    left: 200px;
    top: 5687px;
}
.frame73Heading{
    font-size: 21px;
    font-weight: 600;
    line-height: 41.6px;
    color: white;
}
.frame73Text{
    font-weight: 450;
    font-size: 12px;
    line-height: 28.8px;
    color: white;
}
.owl-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-carousel .item{
    text-align: center;
}
.owl-carousel .owl-item img{
    max-width: 100%;
    display: inline;
}
.text-overlay{
    position: absolute;
    top: 65%;
    left: 5%;
    width: 588px;
    max-width: 75%;
}
.image-container{
    display: block;
    position: relative;
    max-width: 100%;
}
.frame15{
    padding: 10px 24px 10px 24px;
    background-color: white;
    border-radius: 100px;
}
.frame15Text{
    font-weight: 500;
    font-size: 15px;
    color: #1b90dd;
    line-height: 18px;
    text-decoration: none;
}
.frame144{
    gap: 20px;
    margin-left: 19px;
    position: relative;
}
.readMore{
    position: absolute;
    border: 1px solid #1b90dd;
    border-radius: 100px;
    bottom: -60px;
    left: 0px;
    padding: 10px 16px 10px 16px;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}
.frame140{
    margin-top: 100px;
    margin-left: 19px;
    background-color: #f5f5f5;
    display: flex;
}
.frame4{
    border: 2px solid #1b90dd;
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    color: #1b90dd;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.rectangle37{
    background-color: #0e2f53;
    height: 468px;
    margin-top: 65px;
    padding-top: 20px;
}
.jobs{
    font-weight: 500;
    font-size: 15px;
    color: white;
}
.frame53Heading{
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
}
.frame53Text{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: white;
    opacity: 70%;
}
.rectangle18{
    height: 251px;
    background-color: white;
    padding-top: 77px;
    text-align: center;
}
.rectangle18Heading{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    align-self: center;
}
.rectangle18Text{
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: #00000080;
    ;
}
.ellipse{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 84px;
    margin-top: -47%;
}
.ellipsePng{
    width: 40px;
    height: 40px;
}
.frame22{
    font-size: 14px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: center;
    color: #1b90dd;
    text-decoration: none;
    border: 2px solid #1b90dd;
    border-radius: 100px;
    padding: 20px 40px 20px 40px;
}
.svg{
    width: 6px;
    height: 9.82px;
    margin-bottom: 4px;
}
.rectangle37TextContainer{
    text-align: center;
    margin-left: 285px;
    margin-top: 65px;
}
.rectangle37Text{
    font-weight: 400;
    font-size: 14px;
    line-height: 28.8px;
}
.frame15Heading{
    font-weight: 600;
    size: 40px;
    line-height: 56px;
    color: black;
}
.coloredSpan{
    color: #1b90dd;
}
.frame66{
    margin-top: 20px;
}
.frame66Heading{
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
}
.frame66Text{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}
footer{
    background-color: #0e2f53;
    position: relative;
    padding-top: 40px;
    margin-top: 70px;
}
.frame107{
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}
.mailSendLine{
    width: 48px;
    height: 48px;
}
.formHeading{
    font-weight: 800;
    font-size: 26px;
    line-height: 44.8px;
    color: #ffffff;
}
.frame101{
    margin-top: 14px;
}
input.inputField{
    border: 1px;
    border-radius: 10px;
    background-color: #ffffff;
    opacity: 12%;
    padding: 24px;
    width: 484px;
    height: 60px;
}
.nameField{
    background-image: url(../img/person.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
    background-color: #ffffff1f;
    height: 60px;
    max-width: 100%;
    width: 486px;
    border-radius: 10px;
    padding: 10px 20px 10px 50px;
}
.emailField{
    background-image: url(../img/mail-line.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
    background-color: #ffffff1f;
    height: 60px;
    width: 486px;
    max-width: 100%;
    border-radius: 10px;
    padding: 10px 20px 10px 50px;
    margin-top: 10px;
}
.placeholder{
    color: white;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
}
.nameField::placeholder{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.formText{
    color: white;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
}
.email{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.emailField::placeholder{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.telephoneField{
    background-image: url(../img/phone-line.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px;
    background-color: #ffffff1f;
    height: 60px;
    max-width: 100%;
    width: 486px;
    border-radius: 10px;
    padding: 10px 20px 10px 50px;
    margin-top: 10px;
}
.tel{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.telephoneField::placeholder{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.messageField{
    background-image: url(../img/chat-2-line.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
    background-color: #ffffff1f;
    height: 180px;
    max-width: 100%;
    width: 486px;
    border-radius: 10px;
    padding: 20px 20px 20px 50px;
    margin-top: 10px;
}
.messageField::placeholder{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.formSubmit{
    width: 486px;
    max-width: 100%;
    height: 60px;
    background-color: #1b90dd;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    line-height: 25.6px;

}
.Frame14Text{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: white;
}
.frame15Heading{
    font-weight: 800;
    font-size: 26px;
    line-height: 44.8px;
    color: white;
}
.frame96AccordionHeading{
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
}
.dropdownDiv{
    text-align: center;
    padding-top: 20px;
}
.dropdownButton{
    background-color: transparent;
    font-size: 16px;
    font-weight: 800;
    line-height: 25.6px;
    border: 1px solid white;
    border-radius: 8px;
}
.frame51TextDiv{
    margin-top: 10px;
}
.frame145{
    justify-content: space-between;
    background-color: #1b90dd;
    background-image: url(../img/Group27.png);
    margin-top: 30px;
    border-radius: 12px;
    padding-top: 72px;
    padding-left: 72px;
    padding-bottom: 72px;
}
.frame108{
    font-weight: 600;
    font-size: 32px ;
    line-height: 41.6px;
    color: white;
}
.frame109Text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: #ffffff;
    opacity: 70%;
}
.frame109{
    position: relative;
}
.frame109Anchor{
    margin-top: 20px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    bottom: -86px;
    left: 0px;
}
.footerBgImg{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.frame114{
    background-color: transparent;
    margin-top: 50px;
    text-align: center;
}
.frame112{
    background-color: transparent;
    text-align: center;
    max-width: 100%;
    height: 109px;
}
.frame112Img{
    margin-bottom: 10px;
}
.frame112TextDiv{
    text-align: center;

}
.frame112Text{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    line-height: 24px;
}
.frame111{
    margin-top: 30px;
    background-color: transparent;
    text-align: center;
}
.frame111Anchor{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFFB2;
    line-height: 20.6px;
    text-decoration: none;
    margin-right: 24px;
}
.anchorBorder{
    border-right: 2px solid #ffffff12;
    gap: 24px;
}
a:active{
    color: white;
}
.frame113{
    border-top: 1px solid #ffffff12;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
}
.anchorList{
    list-style-type: none;
    display: inline-flex;
    text-align: left;
    gap: 24px;
}
.frame113Text{
    font-size: 15px;
    color: #FFFFFFBF;
    font-weight: 400;
    line-height: 24px;
}
.frame113Bold{
    font-weight: 700;
    line-height: 24px;
    font-size: 15px;
    color: white;
}
.joinNowAnchor{
    border: 2px solid #1b90dd;
    background-color: transparent;
    padding: 10px 40px 10px 40px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
}

.frame3AMargin{
    margin-top: 50px;
}

.frame3{
    margin-top: 48px;
}
.navJoinNowAlign{
    display: flex;
    align-items: center;
}

.coloredSection{
    background-color: #0e2f53;
    margin-top: 70px;
    padding: 50px;
}

.placementDataDiv{
    padding: 40px 32px 40px 32px;
}

.placementText{
    font-weight: 400;
    font-size: 13px;
    line-height: 44.4px;
    color: #000000CC;
}

.carouselLogos{
    width: fit-content;
}
.frame22Special{
    border:none
}

.accodionHeading{
    color: white; 
    font-size: 40px; 
    font-weight: 600; 
    line-height: 48px;
}

.whyChooseUs{
    color: white; 
    font-weight: 500; 
    font-size: 15px;
    line-height: 18px;
    margin-left: 6px;
}

.getInTouchForm{
    background: #FFFFFF1A;
    padding: 48px;
    border-radius: 12px;
    max-width: 80%;
}


#whiteText{
    color: white;
}

a.frame111Anchor:hover{
    color: white !important;
}

body{
    position: relative;
}

.specialSection{
    margin-top: 70px;
}

.bodyImage1{
    position: relative;
    width: 200px;
    height: 303px;
    top: 90px;
}

.numBox{
    border-radius: 8px;
    background: #FFFFFF0F;
    padding: 10px;
    font-size: 11px;
    font-weight: 400;
    color: white;
    line-height: 19.2px;
}

.textContainer{
    width: 820px;
    font-weight: 400;
    font-size: 16px;
    color: #111111B2;
    text-align: center;
    line-height: 28.8px;
    margin-left: 200px;
    margin-right: 200px;
}

.overlaySection{
    margin-top: -100px;
}

.highLightText{
    font-weight: 700;
    color: white;
}

.formText{
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color:#FFFFFFBF;
}

input{
    border: none;
    box-shadow: none;
}

input:focus{
    box-shadow: none;
    border: none;
    outline: none;
}

textarea:focus{
    border: none;
    box-shadow: none;
    outline: none;
}

textarea{
    border: none;
    box-shadow: none;
}

.accordion-header:focus{
    box-shadow: none;
    border:none;
    outline: none;
}

.salesforce{
    max-width: 100%;
    width: 85.33px;
    height: 60px;
}

.hubspot{
    max-width: 100%;
    width: 169px;
    height: 50px;
}

.microsoft{
    max-width: 100%;
    width: 51px;
    height: 50px;
}

.wework{
    max-width: 100%;
    width: 200px;
    height: 44px;
}

.detuschBank{
    max-width: 100%;
    width: 72px;
    height: 60px;
}

.vodafone{
    max-width: 100%;
    width: 204px;
    height: 54px;
}

.americanBank{
    max-width: 100%;
    width: 60px;
    height: 60px;
}

p{
    margin-bottom: 0;
}

.frame174Heading{
    font-weight: 600;
    line-height: 64px;
    size: 40px;
    color: #111111;
}

.frame174{
    text-align: center;
}

.group70Image{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#frame73Col{
    justify-content: right;
    align-items: center;
    display: flex;
}

.accordion{
    border: none;
}

.accordion-item{
    border: none;
    border-bottom: 1px solid #E4E4E4;
}

#lastAccordionItem{
    border: none;
}

.accordion-header:hover{
    text-decoration: none;
}

.accordion-header.active{
    text-decoration: none;
    box-shadow: none;
}

.button.accodion-button:focus{
    outline: none;
    box-shadow: none;
}

.button#dropdownMenuButton1:active{
    color: #1b90dd;
    background-color: transparent;
    border-color: #1b90dd;
}

/* .btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: #1b90dd;
    border-color: #1b90dd;
    background-color: none;
} */
.btn-secondary.active{
    color: #1b90dd !important; 
    border-color: #1b90dd !important;
    background-color: transparent !important;
}

.btn-secondary:hover{
    color: #1b90dd;
    background-color: transparent;
    border-color: #1b90dd;
}

#footerAccordion.accordion-body{
    padding: 1rem 3.25rem;
}

.accordion-button:not(.collapsed){
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after{
    box-shadow: none;
}

.accordion-button:not(.collapsed)::before{
    box-shadow: none;
}

.owl-carousel .item{
    display: flex !important; 
    justify-content: center !important;
}